@import '../../pages/DesignerCenter/share.less';

.head {
  .main {
    margin-top: 10px;
    margin-bottom: 10px;
    .title {
      display: inline-block;

      .text {
        margin-left: 5px;
        font-size: @text18;
      }

      .line2 {
        position: relative;
        bottom: 5px;
        width: calc(100% + 5px);
        height: 4px;
        background-color: rgba(89, 126, 247, 0.6);
      }
    }

    .info {
      display: inline-block;
      margin-left: 25px;
      color: #acacac;
      font-size: @text14;
    }
  }

  .line1 {
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background-color: #e6e6e6;
  }
}
