.container {
  padding: 8px;
}

.form {
  .top {
    .top-left {
      display: inline-block;
    }

    .top-right {
      display: inline-block;
      margin-left: 85px;
      vertical-align: top;
    }
  }

  .tips {
    color: #93969E;
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: #EBEBEB;
  }
}
